<footer id="contact" class="footer-area">
    <div class="footer-inner  pt-5 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 fw-bold fs-6">
                    <div class="footer-widget widget">
                        <div class="logo">
                            <img src="../assets/image/category/1.png" alt="img">
                            <span class="h4 ms-2">DDS_Food </span>
                        </div>
                        <ul class="contact_info_list text-muted">
                            <li class="single-info-item">
                                <img src="../assets/image/home-2/icon/map-marker.png" alt="icon">
                                <div class="details">
                                  101 - 1318 Homer Street
                                  Vancouver, British Columbia V6B 6A7
                                  Canada
                                </div>
                            </li>
                            <li class="single-info-item">
                                <img src="../assets/image/home-2/icon/calendar.png" alt="icon">
                                <div class="details">
                                    ordernow@ddsfood.com
                                </div>
                            </li>
                            <li class="single-info-item">
                                <img src="../assets/image/home-2/icon/phone-2.png" alt="icon">
                                <div class="details">
                                    +1-555-867-5309
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="footer-widget widget">
                        <span class="h4">Opening Hours</span>
                        <ul class="opening-hours-list d-grid gap-4 pt-5 text-muted fw-bold fs-6">
                            <li>Monday: <span class="fw-light">9am - 10pm</span></li>
                            <li>Tuesday: <span class="fw-light">9am - 10pm</span></li>
                            <li>Wednesday: <span class="fw-light">9am - 10pm</span></li>
                            <li>Thursday: <span class="fw-light">9am - 10pm</span></li>
                            <li>Friday: <span class="fw-light">9am - 10pm</span></li>
                            <li>Saturday: <span class="fw-light">9am - 5pm</span></li>
                            <li>Sunday: <span style="color: red">Closed</span></li></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="align-items-center mt-3 d-flex justify-content-between">
                <div class=" text-md-start text-center">
                    <div class="copyright-area">
                        <p>© 2022 DDS_FOOD. All Rights Reserved By <a style="color: red"
                                                                      href="https://github.com/Enired/dds-food/">DDS_Food</a>
                        </p>
                        </p>
                    </div>
                </div>
                <div class="">
                    <ul class="social-area text-md-end text-center mt-2 d-flex justify-content-end">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
