// See: https://sass-lang.com/

body,
html {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section{
  padding-top: 8rem;
}

footer{
  margin-top: auto;
}
a {
  text-decoration: none;
}

.added-to-cart-notification{
  margin-top: 1em;
  padding: 2em;
  font-style: oblique;
  color:black;
  border: solid slategrey 6px;
  background-color: whitesmoke;
  border-radius: 10px;
}

.cart-error{
  color: red;
}
